_ignoreme/
J - Dream-Eating Monochrome Tapir/
J - Happy Synthesizer/
J - Happy Synthesizer (Official Choreography)/
J - Hibikase/
J - Just Be Friends/
J - LUVORATORRRRRY!
J - World's End Dance Hall/
K - Bboom Bboom/
K - Beat, The/
K - DNA/
K - Dope/
K - Electric Kiss/
K - Growl/
K - Haru Haru/
K - I Go Crazy Because of You/
K - Likey/
K - Napal Baji/
K - Playing With Fire/
K - Shall We Dance/
K - Stop Girl/
O - Prime Directive/
O - Quincunx/
W - Bad 4 My Health/
W - Bass Down Low/
W - Butterfly/
W - Houseplan/
W - Imya 505/
W - Infinite Power/
W - Old Skool (Nitro)/
W - Press Start/
W - Rather Be/
W - Swing Tek/
W - Wolf, the/
W - Y.E.U/
W - You Don't Know Me/